<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <intent>
            <!-- 兼容Android12和Android11获取不到已安装的所有应用列表,其他共公 -->
            <action android:name="android.intent.action.MAIN" />
        </intent>
        <!--支付宝沙箱-->
        <package android:name="com.eg.android.AlipayGphoneRC" />
        <!--支付寶-->
        <package android:name="com.eg.android.AlipayGphone" />
        <!--支付寶香港-->
        <package android:name="hk.alipay.wallet" />
        <!--微信-->
        <package android:name="com.tencent.mm" />
        <!--MPay-->
        <package android:name="com.macaupass.rechargeEasy" />
        <!--MPay-->
        <package android:name="com.macaupass.rechargeEasy.sit" />
        <!--MPay-->
        <package android:name="com.macaupass.rechargeEasy.uat" />
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:label="mpay_plugin_example"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
