<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chihiro.mpay_plugin">

    <application>
        <activity
            android:name=".wxapi.WechatCallbackActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="${applicationId}"
            android:theme="@style/mpay_plugin.Theme.Transparent" />

        <activity-alias
            android:name="${applicationId}.wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:targetActivity=".wxapi.WechatCallbackActivity"
            android:taskAffinity="${applicationId}"
            android:theme="@style/mpay_plugin.Theme.Transparent" />

        <!--        <activity-->
        <!--            android:name="${applicationId}.wxapi.WXEntryActivity"-->
        <!--            android:theme="@android:style/Theme.Translucent.NoTitleBar"-->
        <!--            android:exported="true"-->
        <!--            android:taskAffinity="填写你的包名"-->
        <!--            android:launchMode="singleTask">-->
        <!--        </activity>-->
        <activity-alias
            android:name="${applicationId}.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:targetActivity=".wxapi.WechatCallbackActivity"
            android:taskAffinity="${applicationId}"
            android:theme="@style/mpay_plugin.Theme.Transparent" />

        <provider
            android:name=".WechatFileProvider"
            android:authorities="${applicationId}.mpay_plugin.WechatFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/mpay_wechat_file_paths" />
        </provider>
    </application>
</manifest>
